# Python cache files
__pycache__/
*.pyc

# Virtual environment
venv/

# Environment variables
*.env
.env.production

# IDE/editor files
.vscode/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Other
Notes.md
docker-compose.yml
example.sql